@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Crimson+Text&family=Oxygen:wght@300&display=swap');

body {
    font-family: 'Oxygen','Crimson Text', sans-serif;
    background-color: #E9EBF8;
    font-size: 22px;
    margin: 0;
    padding: 0;
  }

  header{
    background-color: #422773;
    display: grid;
    grid-template-columns: 150px auto;
    padding: 8px;
  }

  #content{
    max-width: 1800px;
  }
  
  nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }

  nav a {
    text-align: center;
    color: #FEFFFE ;
    text-decoration: none;
    padding: 35px;
  }

  .logo{
    width: 100px;
    height: 100px;
  }

  .button-container{
    text-align: center;
    padding-top: 15px;
  }

  .apply-button , .signup-button{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #201F1D;
    border-radius: 5px;
  }

  .apply-button:hover , .signup-button:hover{
    background-color: #396E94;
  }

  #hero-img {
    width: 100%;
    z-index: -1;
  }
  
  #hero{
    display: grid;
  }

  #hero-msg{
    color: #E9EBF8;
  }