@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Crimson+Text&family=Oxygen:wght@300&display=swap");

body {
  font-family: "Oxygen", "Crimson Text", sans-serif;
  background-color: #e9ebf8;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  opacity: 0.95;
  display: grid;
  grid-template-columns: 150px auto;
  padding: 10px;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}

nav a {
  text-align: center;
  color: #44599d;
  text-decoration: none;
  padding: 35px;
}

nav a:hover {
  color: #201f1d;
  background-color: #e9ebf8;
  border-radius: 10px;
  transform: scale(1.1);
}

#logo_link {
  justify-self: center;
  align-self: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.button-container {
  text-align: center;
  padding-top: 15px;
}

.apply-button,
.signup-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #201f1d;
  border-radius: 5px;
  color: #e9ebf8;
}

.apply-button:hover,
.signup-button:hover {
  background-color: #e9ebf8;
  color: #201f1d;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  color: white;
}

#hero-img {
  width: 100%;
  height: 700px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero-msg h2{
  text-shadow: 2px 2px black;
}

#hero-msg {
  color: white;
  grid-column: 1/3;
  grid-row: 2/3;
  padding: 15px;
}

.para {
  color: white;
  padding: 50px;
  margin: 50px;
  background-color: #44599d;
}

.button-box {
  margin-top: 20px;
  margin-bottom: 60px;
}

.apply {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  background-color: #44599d;
  opacity: 0.7;
  border: 2px solid white;
  text-align: left;
  transition: 0.5s ease;
  border-radius: 10px;
}

.apply:hover {
  background-color: #44599d;
  opacity: 1;
  transform: scale(1.1);
}

.home-grid1 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 2fr 1fr;
  grid-template-rows: 100px 100px 250px 100px 100px;
  background-color: #201f1d;
}

.kitchen {
  grid-column: 2/6;
  grid-row: 2/5;
  width: 100%;
  height: 450px;
}

.msg {
  color: white;
  padding: 50px;
  font-size: 0.9em;
  background-color: grey;
  opacity: 0.8;
  grid-column: 4/7;
  grid-row: 3/4;
  font-weight: bold;
}

.home-grid2 {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.living {
  grid-column: 2/3;
  justify-content: center;
  padding-top: 50px;
  height: 700px;
  width: 100%;
}

#f-msg {
  grid-column: 2/3;
  text-align: center;
  color: #44599d;
}

footer {
  background-color: #44599d;
  padding: 25px 50px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #201f1d;
  background-color: #e9ebf8;
  border-radius: 10px;
  padding: 10px 20px;
  transform: scale(1.1);
}

footer p {
  font-size: 0.8em;
  color: #e9ebf8;
}

/* css for floorplan page */

#hero1 {
  display: grid;
  grid-template-rows: 50px repeat(6, 1fr);
  grid-template-columns: 1fr 3fr 3fr 1fr;
}

#hero1-title {
  grid-column: 2/3;
  grid-row: 2/4;
  color: white;
  padding-top: 50px;
}

#button-box1 {
  grid-column: 3/4;
  grid-row: 2/4;
  justify-self: center;
  justify-items: center;
  align-self: flex-end;
  padding-bottom: 40px;
  border-radius: 5px;
}

.apply-floor {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  background-color: #44599d;
  border: 2px solid white;
  transition: 0.5s ease;
  border-radius: 10px;
}

.apply-floor:hover {
  transform: scale(1.1);
  background-color: #e9ebf8;
  color: #201f1d;
  border: 2px solid #201f1d;
}

#hero1-img {
  grid-row: 4/8;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  border: white 7px solid;
  border-right: none;
  box-sizing: border-box;
}

#hero1-msg {
  grid-area: 4 / 3 / span 4 / span 1;
  background-color: gray;
  padding: 40px;
  color: #e9ebf8;
  border-color: white;
  border: white 7px solid;
  border-left: none;
}

#color-box {
  grid-area: 1 / 1 / span 4 / span 4;
  background-color: #44599d;
  z-index: -1;
}

#floor-grid {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  padding-bottom: 50px;
}

#door {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#msg1 {
  grid-column: 2/3;
  grid-row: 1/2;
  color: white;
  padding: 70px;
  justify-self: center;
  justify-items: center;
  background-color: gray;
}

#floor-apply {
  text-align: center;
}

/*  css for more page */

#hero2 {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 1fr 3fr 3fr 1fr;
}

#hero2-title {
  grid-column: 2/3;
  grid-row: 2/4;
  color: white;
}

.button-box2 {
  grid-area: 1 / 3 / span 3 / span 1;
  justify-self: center;
  align-self: flex-end;
  margin-top: 20px;
  margin-bottom: 40px;
}

.apply-more {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  background-color: #44599d;
  border: 2px solid white;
  transition: 0.5s ease;
  border-radius: 10px;
}

.apply-more:hover {
  transform: scale(1.1);
  background-color: #e9ebf8;
  color: #201f1d;
  border: 2px solid #201f1d;
}

#hero2-img {
  grid-row: 4/8;
  grid-column: 2/3;
  width: 100%;
  height: 350px;
  border: white 7px solid;
  border-right: none;
}

#hero2-msg {
  grid-area: 4 / 3 / span 4 / span 1;
  background-color: #201f1d;
  padding: 15px;
  color: #e9ebf8;
  border: white 7px solid;
  border-left: none;
}

#color-box {
  grid-area: 1 / 1 / span 4 / span 4;
  background-color: #44599d;
  z-index: -1;
}

#more-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 3fr 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
}

#family {
  grid-area: 2 / 2 / span 4 / span 4;
  width: 100%;
  height: 100%;
}

#more-msg {
  background-color: gray;
  color: white;
  grid-area: 5 / 3 / span 2 / span 2;
  padding: 40px;
  padding-top: 80px;
}

#color-box-more-page {
  background-color: #201f1d;
  grid-area: 1 / 1 / span 7 / span 6;
}

.more-apply {
  text-align: center;
}

/* css for signup page */

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding: 16px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signupbutton {
  display: block;
  box-sizing: border-box;
  height: 50px;
  width: 300px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #201f1d;
  border-radius: 5px;
  color: #e9ebf8;
}

button.cancelbtn {
  background-color: #aaa;
}

button:hover {
  opacity: 0.8;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#signup-colorbox {
  background-color: #44599d;
  color: white;
  font-size: 50px;
  padding: 30px 0px 30px 40px;
}

@media screen and (max-width: 300px) {
  span,
  .cancelbtn {
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  #hero-img{
    height: auto;
  }
  
  #hero1 {
    display: grid;
    grid-template-rows: 50px repeat(6, 1fr);
    grid-template-columns: 1fr 3fr 3fr 1fr;
  }

  #hero1-img{
    grid-row: 4/8;
    grid-column: 2/4;
    width: 100%;
    height: 100%;
    border: white 7px solid;
    box-sizing: border-box;
  }

  #hero1-msg{
    grid-row: 9/10;
    grid-column: 2/4;
    border: white 7px solid;
    box-sizing: border-box;
    border-top: none;
  }

  #door{
    grid-row: 1/2;
    grid-column: 2/4;
    border: white 7px solid;
    box-sizing: border-box;
  }

  #msg1{
    grid-row: 2/3;
    grid-column: 2/4;
    border: white 7px solid;
    box-sizing: border-box;
    border-top: none;
  }

  #hero2-img{
    grid-row: 4/8;
    grid-column: 2/4;
    width: 100%;
    height: 100%;
    border: white 7px solid;
    box-sizing: border-box;
  }

  #hero2-msg{
    grid-row: 9/10;
    grid-column: 2/4;
    border: white 7px solid;
    box-sizing: border-box;
  }

  #more-grid{
    display: grid;
    grid-template-columns: repeat(6,1fr) ;
    grid-template-rows: repeat(6,1fr) ;
  }

  #more-msg{
    grid-column: 2/6;
    grid-row: 4/6;
    border: white 7px solid;
    box-sizing: border-box;
    border-top: none;
  }

  #family{
    grid-column: 2/6;
    grid-row: 2/4;
    border: white 7px solid;
    box-sizing: border-box;
  }

  nav{
    flex-direction: column;
  }

  footer{
    flex-direction: column;
  }

  .living{
    height: auto;
  }

  .kitchen{
    grid-column: 2/7;
    grid-row: 2/5;
  }

  .msg{
    grid-column: 2/7;
    grid-row: 2/5;
    padding-top: 100px;
  }
}